[Unit]
Description=memory-machine gallery installation
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/motion-player
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
